#matrix {
    position: absolute;

    width: 495px;
    height: 495px;

    border-top: 1px solid #876;
    border-left: 1px solid #876;
}

#matrix h1 {
    text-align: center;
    padding-top: 200px;
    color: white;
}

#matrix div {
    position: relative;
    float: left;
    border-right: 1px solid #876;
    border-bottom: 1px solid #876;
    width: 14px;
    height: 14px;

}

.food {
    background: red;

}

.snake {
    background: #ff00ff;
}